html {
    width: 100%;
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*            border: 1px solid red;*/
}

body {
    background: #111;
    visibility: hidden;
}

/*html,*/
/*#aboutMeText .readMoreBtn,*/
/*#about,*/
/*#project,*/
/*#resources,*/
/*#homeMain,*/
/*#main */

#projectHeader,
.typecss,
#aboutMeHeader,
#myName,
.hireBtn,
#resourcesTitle,
#homeMain .container h4 ,
.navbar ,
#titleName {
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Cinzel', serif;
}

/*Makes the Particles into the background*/
canvas {
    display:block;
    position: fixed;
    z-index: -1;
}


#particles-js {
    width: 90%;
    height: 90%;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;

}

.spinner {
    width: 30%;
    height:30%;
    border: 10px solid #f2f;
    border-top: 10px solid #434;
    border-radius: 100%;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}


#overlay {
    height: 200px;
    width: 180px;
    margin: 0 auto;

}

.shrink {
    background: #323;
    font-weight: 700;
    -webkit-transition: 450ms;
    transition:450ms;
    padding: 20px 0 0  0 !important;
}

.navbar {
    width: 100%;
    padding: 20px 20px;
    text-align: center;
}


.shrinkBack {
    background: transparent;
    -webkit-transition: 600ms;
    transition: 600ms;
    margin: 10px auto;
    padding: 0px 30px !important;
    font-size: 1.3em;
}

#titleName {
    width: 50%;
    top:-10px;
    color: #aaa;
    padding: 10px;
    font-size: 1.5em;

}
#welcomeTitle {
    font-size: 2.5em;
}

#homeMain .container {
    margin-top: 260px;
    margin-bottom: 270px;
}

#homeMain .container h4 {
    color: #ddd;
    text-align: center;   
}


.typecss {
    z-index: 99;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #eee;
}

.hireBtn { 
    font-weight: 700;
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

/*icons of tools and resources*/
.iconEffect {
    -webkit-animation: drop   500ms ease forwards;
    animation: drop 500ms ease  forwards;
}

#resourcesContent {
    background:rgba(255,255,255, 0.2);
    padding: 0 0;

}

/*DEV TOOLS AND RESOURCES*/

#resourcesTitle {
    background: rgba(255,255,000, 0.2);
    border-radius: 50px;
    color: #ddd;
    font-size: 2em;
    -webkit-box-shadow: 0 0 50px #111;
    box-shadow: 0 0 50px #111;

}

#projectHeader,
#aboutMeHeader {
    color: #ddd;    
}
#projectHeader {
    background: rgba(255,255,000, 0.2);
    border-radius: 50px;
    color: #ddd;
    font-size: 2em;
    -webkit-box-shadow: 0 0 50px #111;
    box-shadow: 0 0 50px #111;
    margin: 50px auto;
    
}

#proPic {
    /*    background: */
    border-radius: 50%;
    -webkit-box-shadow:  0 0 10px #111;
    box-shadow:          0 0 40px #111;
    margin-bottom: -100px;
    position: relative;
    z-index: 99;

}
#myName {
    margin-top: 15px;
}

.fa.profile-social-icon {
    font-size: 3em;

}



/*ABOUT ME======================================*/
.generalFont {
    color: #ddd;
    font-size: 1.3em;
}


.mainContent {
    border-radius: 20px;

}

#resources .mainContent {
    padding: 10px;

}


.aboutContent {
    background: transparent;
    padding: 100px 10px 10px 10px;
}

.readMoreBtnHide {
    visibility: hidden;
}

.readMoreBtn { 
    visibility: visible;
}

.mobileAboutContent {
    background: rgba(255,255,255, 0.2);
    padding: 100px 10px 10px 10px;
}

.show-aboutContent {
    background: #ddd;
    padding: 100px 10px 10px 10px;

}
/*ABOUT ME==============================================================*/






/*PROJECTS=======================================================*/

#project {
    background: rgba(255, 255, 255, 0.2);
    margin:200px 50px;
    padding: 50px 5px 5px 5px;
    border-radius: 30px;
}

.project-img-1 {
    background: url('../assets/images/get-in-touch-php.png');
    background-size: cover;
}

.project-img-2 {
    background: url('../assets/images/login-php.png') no-repeat center;
    background-size: cover;
}
.project-img-3 {
    background: url('../assets/images/secret-diary.png') no-repeat center;
    background-size: cover;
}
.project-img-4 {
    background: url('../assets/images/weather-scrapper.png') no-repeat center;
    background-size: cover;
}
.project-img-5 {
    background: url('../assets/images/yelpcamp.png') no-repeat center;
    background-size: cover;
}.project-img-6 {
    background: url('../assets/images/calculator.png') no-repeat center;
    background-size: cover;
}

.project-img-1:hover,
.project-img-2:hover,
.project-img-3:hover,
.project-img-4:hover,
.project-img-5:hover,
.project-img-6:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 450ms;
    transition: 450ms;
}

.img-container {
    position: relative;
    z-index: 90;
    height: 281px;
    border-radius: 20px;
    margin: 10px auto;

}

.img-description {
    color: transparent;
    text-align: center;
    background: transparent;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 99;
    border-radius: 20px;
    padding: 5px 20px;
    height: 100%;
    width: 100%;
    /*    font-size: 10px;*/
}

.img-description:hover {
    color: #eee;
    text-align: center;
    background: rgba(0,0,0,.9);
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 99;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    font-size: 1.1em;
}
.goLiveBtn {

}

/*PROJECTS=======================================================*/








.slide-in {
    background: rgba(255,255,255, 0.2);
    padding: 100px 10px 10px 10px;
    -webkit-animation: slide-in 500ms ease-out forwards;
    animation: slide-in 500ms ease-out  forwards;
}

@-webkit-keyframes slide-in  {

    0% { 
        left:50%;
    }
    15%{
        left:60%;
    }
    100% {


        left:0%;
    }
}

@keyframes slide-in  {

    0% { 
        left:50%;
    }
    15%{
        left:-50%;
    }
    30% {
        left:25%;
    }
    60% {
        left:-25%;
    }
    90% {
        left:10%;
    }
    50% {
        left:-10%;
    }
    100% {

        left:0%;
    }
}

@-webkit-keyframes drop {
    0% {
        font-size: 0em;

    } 
    15% {
        font-size: .5em;
    } 
    30% {
        font-size: 1em;
    } 
    60% {
        font-size: 1.5em;
    }
    80% {
        font-size: 2em;
    }
    100% {
        font-size: 2.5em;
    }
}

@keyframes drop {
    0% {
        font-size: 10px;

    } 
    15% {
        font-size: 18px;
    } 
    30% {
        font-size: 20px;
    } 
    60% {
        font-size: 26px;
    }
    80% {
        font-size: 28px;
    }
    100% {
        font-size: 54px;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*Not sure here why the hell the actuall width of the window is plus 200px  (min-width actuall break point 615)  (max-width actuall break point 792) */ 
@media  (max-width: 992px) and (min-width: 768px) {

    #project .img-description-text  {
        font-size: 14.5px;
    }

}

@media  (max-width: 992px) {
    
    .shrinkBack,
    #titleName  {
        font-size: 1.1em;
    }
     {
        font-size: 14px;
    }

}

