html {
    /*    width: 100%;*/
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

{
    border: 1px solid red;
}

body {
    /*    background: url('https://images.pexels.com/photos/214050/pexels-photo-214050.jpeg?w=940&h=650&auto=compress&cs=tinysrgb') no-repeat center center fixed;*/
    /*    -webkit-background-size: cover;*/
    /*    background-size: cover;*/
    background: #111;
    max-height: 150%;
    min-height: 100%;
    padding: 0;
    margin: 0 auto;
    /*    line-height: 1;*/
}

#particles-js {
    width: 100%;
    height: 90%;
    position: absolute;
    background-attachment: fixed;
    background: 
        z-index: -10;
    top: 0;
    left: 0;
}

.shrink {
    background: #323;
    font-weight: 700;
    -webkit-transition: width 2s;
    transition: background 2s;
}

h1,
.shrinkBack {
    color: #333aaa;
    background: transparent;
    -webkit-transition: 2s;
    transition: background 2s;

}

#titleName {
    font-family: monospace;
    color: #aaa;
}


#welcomeText .container {
    margin-top: 200px;
    margin-bottom: 200px;
}



#welcomeText .container h4 {
    color: #ddd;
    text-align: center;   

}


.typecss {
    z-index: 99;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #eee;
}

.hireBtn {
    font-weight: 700;
    transition: ease-in-out .5s;
}

#resources {
}
.icon {
    /*    padding: 0 0;*/
    /*    margin: 0 auto;*/
    font-size: 5em;
}
#resourcesHeader {

    margin: 0 0;
    padding: 0 0;
}
#proPic {
    border-radius: 50%;
    -moz-box-shadow:     50px 0  5px #aaa;
    -webkit-box-shadow:  0 0 10px #aaa;
    box-shadow:          0 0 10px #aaa;
}

.fa.fa-linkedin,
.fa.fa-twitter, 
.fa.fa-github {
    font-size: 2em !important;
}

.generalFont {
    color: #aaa;
}