html {
  width: 100%;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #111;
  border: 1px solid #111;
}

#offerHeader,
#projectHeader,
.typecss,
#aboutMeHeader,
#myName,
.hireBtn,
#resourcesTitle,
#homeMain .container h4 ,
.navbar,
#titleName {
  font-family: 'Sedgwick Ave Display', cursive;
  font-family: 'Cinzel', serif;
}

/*Makes the Particles into the background*/
canvas {
  display: block;
  position: fixed;
  /*    z-index: -99;*/
}

.contact-head {
  height: 25px;
  padding: 0 20px;
  position: fixed;
  top: -3px;
  right: 0;
  width: 100%;
  z-index: 9999;
  background: #000;
}
.contact-head p {
  font-size: calc(.7vh + .8vw + .5vmin);
  padding: 0 !important;
  margin: 0;
}
.contact-head i {
  padding-right: 5px;
}

.navbar {
   
}


#particles-js {
  width: 90%;
  height: 90%;
  position: relative;
  top: 0;
  left: 0;
  visibility: hidden;
}

.spinner {
  width: 40%;
  height:40%;
  border: 5px solid #f2f;
  border-top: 5px solid #434;
  border-radius: 100%;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

/*the spinner*/
#overlay {
  height: 200px;
  width: 180px;
  margin: 0 auto;

}

.shrink {
  margin-top: 20px;
  background: #323;
  font-weight: 700;
  -webkit-transition: 450ms;
  transition:450ms;

}

.nav-top-img { 
  width: 5vh;
  border-radius: 50px;
  box-shadow: 2px 2px 0 yellow;
}

.shrink img {
  height: 8vh;
  width: 8vh;
}

.navbar {
  padding-bottom: 0;
  width: 100%;
  text-align: center;
  height: 10vh;
}

a,
a:link {
  color: #fff;
}

a:hover {
  color: yellow;
}

a.active {
  color: lightsalmon;
}

.shrinkBack {

  background: transparent;
  -webkit-transition: 600ms;
  transition: 600ms;
  margin: 20px auto;
  padding: 0px 30px !important;
  font-size: 1.3em;
}
#floatingBtn div {
  background: yellow;
  border-radius: 50%;
  margin-top: 7px;
  color: yellow;
}

#floatingBtn {
  margin: 0 auto;
  display: none;
  width: 56px;
  height: 56px;
  position: fixed;
  top: 90%;
  left: 93%;
  border-radius: 50%;
  background: #333;
  -webkit-transition: 450ms;
  transition: 450ms;
  -webkit-animation: floating   500ms ease;
  animation: floating 500ms ease;
}

#floatingBtn:hover {
  cursor: pointer;
}

#titleName {
  width: 50%;
  top:-10px;
  color: #aaa;
  padding: 10px;
  font-size: 1.5em;

}
#welcomeTitle {
  font-size: 2.5em;
}

/*First Container*/

#homeMain {
/*    height: 40vh;*/

}
.homemain--inner-div {
    padding: 40px;
     background:rgba(255,255,255, 0.2);
    border-radius: 30px;
    
}
 .container {
  height: 50%;
  width: 90%;
  margin-top: 100px;
 
}
.margin-bottom {
     margin-bottom: 270px;
}

#homeMain .container h4 {
  color: #ddd;
  text-align: center;   
}
#home {
/*
    background-color: blue;
    height: 10vh;
*/
}

.typecss {
  z-index: 99;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: #eee;
}

.hireBtn { 
  font-weight: 700;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

/*icons of tools and resources*/
.iconEffect {
  -webkit-transition: 450ms;
  transition: .4s;
  -webkit-animation: drop   500ms ease forwards;
  animation: drop 500ms ease  forwards;
}


/**/
#ftr,
#home,
#homeMain,
#project,
#about,
#resources,
#offer {
  display: none;
}

#resourcesContent {

  background:rgba(255,255,255, 0.2);
  padding: 0 30px;
}

/*Skill Set*/

#resourcesTitle {
  background: rgba(255,255,000, 0.2);
  border-radius: 50px;
  color: #ddd;
  font-size: 2em;
  -webkit-box-shadow: 0 0 50px #111;
  box-shadow: 0 0 50px #111;

}

#offerHeader,
#projectHeader,
#aboutMeHeader {
  color: #ddd;    
}


#projectHeader {
  background: rgba(255,255,000, 0.2);
  border-radius: 50px;
  color: #ddd;
  font-size: 2em;
  -webkit-box-shadow: 0 0 50px #111;
  box-shadow: 0 0 50px #111;
  margin: 50px auto;

}

#proPic {
  border-radius: 50%;
  -webkit-box-shadow:  0 0 10px #111;
  box-shadow:          0 0 40px #111;
  margin-bottom: -100px;
  position: relative;
  z-index: 99;

}
#myName {
  margin-top: 15px;
}

.fa.profile-social-icon {
  font-size: 3em;

}

.lazy-text-custom {
    display: none;
}

/*ABOUT ME======================================*/
.generalFont {
  color: #ddd;
  font-size: 1.3em;
}


.mainContent {
  border-radius: 20px;

}
.about-headline-middle {
  border-bottom: 1px solid red;
  color: aliceblue;
  display: inline-block;
}
#resources {
  padding: 10px;
  margin: 0 auto;

}

.aboutContent {
  width: 80%;
  background: transparent;
  padding: 100px 10px 10px 10px;
}


.mobileAboutContent {
  background: rgba(255,255,255, 0.2);
  padding: 100px 10px 10px 10px;
}

.show-aboutContent {
  background: #ddd;
  padding: 100px 10px 10px 10px;

}
/*ABOUT ME==============================================================*/






/*PROJECTS=======================================================*/

#project {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 150px auto;
  padding: 0px 5px 5px 5px;
  border-radius: 30px;
  position: relative;
}

.project__tag {
  position: absolute;
  right: 20px;
  top: 0;
  height: 100px;
  width: 30px;
  background-color: yellow;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 51% 83%, 0 100%, 1% 0);
  clip-path: polygon(100% 0, 100% 100%, 51% 83%, 0 100%, 1% 0);
}

.project__tag span {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  color: darkgreen;
font-weight: 800;
}

.project__tag--paid {
    font-size: ;
}

.project__tag--current {
    font-size: 8px;
}
.project__tag--course {
 font-size: 10px ;
}
.proj-img-container {
  text-align: center;
  padding: 5px 10px;
  margin: 10px auto;
    border: 2px solid #ddd;
}
.proj-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0, 0.3);
}

.img-container {
  position: relative;
  top: 0;
  left: 0;
  z-index: 90;
  width: auto;
  border-radius: 20px;
  margin: 10px auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px;
  border: 1px solid #ddd;

}

.img-description {
  color: transparent;
  text-align: center;
  background: transparent;
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 99;
  border-radius: 20px;
  padding: 5px 10px;
  height: 100%;
  width: 100%;
}

.img-description:hover {
  color: #ccc;
  text-align: center;
  background: rgba(001,001,25,.9);
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 99;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  font-size: 1.1em;
}


.img-description:hover,
.project-img-1:hover,
.project-img-2:hover,
.project-img-3:hover,
.project-img-4:hover,
.project-img-5:hover,
.project-img-6:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 450ms;
  transition: 450ms;
}

.goLiveBtn {
  position: absolute;
  bottom: 1%;
  right: 1%;
  padding: 3px;
  border-radius: 10px;
}

/*PROJECTS=======================================================*/

/*SERVICE=========================================================*/

#offer ul {
  list-style: none;
}
#offer {
  width: 75%;
  font-size: 1.2em;
  color: #ddd;
  background: rgba(255,255,255, 0.2);
  border-radius: 20px;
  /*    width: 80%;*/
  /*    height: 500px;*/
  /*    border: 1px solid red;*/
  margin: 100px auto;
}
#offerHeader {
  background: rgba(255,255,000, 0.2);
  border-radius: 50px;
  color: #ddd;
  font-size: 2em;
  -webkit-box-shadow: 0 0 50px #111;
  box-shadow: 0 0 50px #111;
  margin: 0px auto;

}
.service-div {
    border: 1px solid #ddd;
}
/*----Pricing---------------*/




.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}




/*-----------------------*/

/*OFFER=========================================================*/

/*footer*/
#ftr {
  margin: 0 auto;
  width: 100%;
  padding: 30px;
  background: #000;
}

#ftr i {
  height: 10vh;
  color: #fff;
}

#map {
  height: 25vh;
}

#copyright {
  color: #aaa;
  display: none;
}


.slide-in {
  background: rgba(255,255,255, 0.2);
  padding: 100px 10px 10px 10px;
  -webkit-animation: slide-in 500ms ease-out forwards;
  animation: slide-in 500ms ease-out  forwards;
}

@-webkit-keyframes slide-in  {

  0% { 
    left:50%;
  }
  15%{
    left:60%;
  }
  100% {


    left:0%;
  }
}

@keyframes slide-in  {

  0% { 
    left:50%;
  }
  15%{
    left:-50%;
  }
  30% {
    left:25%;
  }
  60% {
    left:-25%;
  }
  90% {
    left:10%;
  }
  50% {
    left:-10%;
  }
  100% {

    left:0%;
  }
}

@-webkit-keyframes drop {
  0% {
    height:  0em;
    font-size: 0em;

  } 
  15% {
    height:  .5em;
    font-size: .5em;
  } 
  30% {
    height:  1em;
    font-size: 1em;
  } 
  60% {
    height:  1.5em;
    font-size: 1.5em;
  }
  80% {
    height:  2em;
    font-size: 2em;
  }
  100% {
    height: 100%;
    font-size: 2.5em;
  }
}

@keyframes drop {
  0% {
    height: 10px;
    font-size: 10px;

  } 
  /*
  15% {
  font-size: 18px;
} 
  30% {
  font-size: 20px;
} 
  60% {
  font-size: 26px;
}
  80% {
  font-size: 28px;
}
  */
  100% {
    height: 54px;
    font-size: 54px;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-webkit-keyframes floating {

  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  } to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}


@keyframes floating {

  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  } to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

/*Not sure here why the hell the actuall width of the window is plus 200px  (min-width actuall break point 615)  (max-width actuall break point 792) */ 
@media  (max-width: 1192px) and (min-width: 768px) {

  /*
  * {
  border: 1px solid red;
}
  */

  #project .img-description-text  {
    font-size: 14px;

  } 

}

@media  (max-width: 992px) {

  #floatingBtn {
    left: 90%;

  }
  .shrinkBack,
  #titleName  {
    font-size: 1.1em;
  }
  {
    font-size: 14px;
  }

}

@media  (max-width: 702px) {
  #floatingBtn h2,
  #floatingBtn {
    width:  30px;
    height: 30px;
    font-size: .8em;
    color: yellow;

  }
}

@media only screen and (max-width: 771px) {

  .navbar-toggler {
    border: 1px solid #ddd;
  }

  .navbar-toggler-icon {

    border: 1px solid #ddd;
  }


  .nav-link {
    background-color: #323;
  }

  .collapse {
    background-color: ;
  }
}

@media only screen and (max-width: 600px) {
  .contact-head {
    height: 20px;
    width: 100%;
    padding: 0;

  }
  .contact-head p {
    font-size: 11px;
  }
  .shrinkBack {
    margin-top: 10px;
  }
  .shrink {
    margin-top: 10px;
    height: 60px;
  }
}