html, body {
    /*    width: 100%;*/
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    widows: 95%;
}

{
    border: 1px solid red;
}

body {
    background: #111;
    margin-top: 10px;
}

canvas {
    display:block;
    position: fixed;
    z-index: -1;
}
#particles-js {
    width: 90%;
    height: 90%;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
}

.shrink {
    background: #323;
    font-weight: 700;
    -webkit-transition: 2s;
    transition:2s;
    margin: 0;
    padding: 0 ;

}

.navbar {
    width: 100%;
    padding-top: 20px;
}

h1,
.shrinkBack {
    color: #333aaa;
    background: transparent;
    -webkit-transition: 2s;
    transition: 2s;
}

#titleName {
    top:-10px;
    font-family: monospace;
    color: #aaa;
    padding: 10px;
    /*    border: 1px solid green;*/
}


#welcomeText .container {
    margin-top: 200px;
    margin-bottom: 300px;
    width: 90%;
}



#welcomeText .container h4 {
    color: #ddd;
    text-align: center;   
}


.typecss {
    font-family: 'comic sans';
    z-index: 99;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #eee;
}

.hireBtn {
    font-weight: 700;
    transition: ease-in-out .5s;
}

.icon {
    margin: 0 0 !important;
    padding: 10px 0;
    font-size: 5em;
    border: 1px solid #000;
    border-radius: 20px;
}

#resourcesTitle {
    color: #ddd;
    margin: 0 ;
    padding: 0 ;
}
#proPic {
    border-radius: 50%;
    -moz-box-shadow:     50px 0  5px #aaa;
    -webkit-box-shadow:  0 0 10px #aaa;
    box-shadow:          0 0 10px #aaa;
}

.fa.fa-linkedin,
.fa.fa-twitter, 
.fa.fa-github {
    font-size: 2em !important;
}

.generalFont {
    color: #111;
}

.mainContent .row { 
    border: 1px solid red;
    margin: 0 !important;
    padding: 0 !important;
}
.col-lg-3 {
    border: 1px solid green;
    padding: 0 0 !important;
    margin:  0 0 !important;
}
.mainContent {
    padding: 10px 0;
    margin: 0 0 !important;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}