@font-face {
    font-display: block;
    font-family: "bootstrap-icons";
    src: url('/node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2') format("woff2"), 
        url('/node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff') format("woff"); 
}
* {
	font-family: "Montserrat", Helvetica, sans-serif
}
body {
	width: 100%;
	transition: .3s ease-in;
	font-family: "Montserrat", Helvetica, sans-serif
}

.icon-white {
	color: #fff;
}